body {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;

    background-color: var(--bg-main-color);

    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* ------------------------------------- */
/* utilites */
.conteiner {
    width: 1370px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}